.row 
	.col-md-12
		- if @posts.any?
			- @posts.each do |post|
				.well
					%p= post.title
					%p= post.content
					%p
						= post.reading_time
						mins
					.well
						%p 
							written by: 
							= post.user.email
							on
							= post.created_at.strftime('%B %Y')
		- else
			%h1 No posts